<div class="container">
	<h1>Add one to your wishlist</h1>
	<p>Drag and drop the object to the shopping cart</p>
	<div class="row">
		<div class="col-xs-4">
			<a routerLink="/dude" routerLinkActive="active"><img class="object" src="img/img-teapot.png"></a>
		</div>
		<div class="col-xs-4">
			<a routerLink="/dude" routerLinkActive="active"><img class="object" src="img/img-chair.png"></a>
		</div>
		<div class="col-xs-4">
			<a routerLink="/dude" routerLinkActive="active"><img class="object" src="img/img-lamp.png"></a>
		</div>
	</div>
	<div class="cart">
		<img class="icn-cart" src="img/icn-cart.svg">
	</div>
</div>