<div class="container">
	<h1>Name this dude</h1>
	<p>Choose one option</p>
	<img class="gropius" src="img/img-gropius.png">
	<div class="row">
		<div class="col-xs-4">
			<a class="dude-option" routerLink="/parties" routerLinkActive="active"> <span>a)</span> Walter</a>
		</div>
		<div class="col-xs-4">
			<a class="dude-option" routerLink="/parties" routerLinkActive="active"> <span>b)</span> Wilson</a>
		</div>
		<div class="col-xs-4">
			<a class="dude-option" routerLink="/parties" routerLinkActive="active"> <span>c)</span> Waggy</a>
		</div>
	</div>
</div>