<div class="container">
    <h1>There are 3 parties this weekend </h1>
    <p>And you only have a ticket for one of them.</p>
    <div class="row">
        <div class="col-sm-4 party">
            <a routerLink="/signature" routerLinkActive="active"><img src="img/img-party-01.png"></a>
            <p>New Objectivity Party</p>
        </div>
        <div class="col-sm-4 party">
            <a routerLink="/signature" routerLinkActive="active"><img src="img/img-party-02.png"></a>
            <p>Metal Party</p>
        </div>
        <div class="col-sm-4 party">
            <a routerLink="/signature" routerLinkActive="active"><img src="img/img-party-03.png"></a>
            <p>Bear, Nose and Heart
            Party</p>
        </div>
    </div>
</div>