<div class="container">
	<h1>Who wore it best?</h1>
	<br>
	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<a routerLink="/wishlist" routerLinkActive="active"><img class="img-cities" src="img/img-weimar.svg"></a>
		</div>
		<div class="col-sm-4 col-xs-12">
			<a routerLink="/wishlist" routerLinkActive="active"><img class="img-cities" src="img/img-berlin.svg"></a>
		</div>
		<div class="col-sm-4 col-xs-12">
			<a routerLink="/wishlist" routerLinkActive="active"><img class="img-cities" src="img/img-dessau.svg"></a>
		</div>
	</div>
</div>