<div class="container poster-ctn">
	<div class="poster">
		<img src="img/poster/img-waggy.png">
		<img src="img/poster/img-weimar-poster.png">
		<img src="img/poster/img_L.png">
		<img src="img/poster/img_A.png">
		<img src="img/poster/img_O.png">
		<img src="img/poster/img_lamp.png">
		<img src="img/poster/img_party_01.png">
		<div class="rectangle"></div>
		<div class="age">
			25
			<div class="line"></div>
		</div>
	</div>
</div>
<div class="btns-poster">
	<ul>
		<li>
			<a href="#"><img src="img/poster/ic_print_white_24px.svg"></a>
		</li>
		<li>
			<a href="#"><img src="img/poster/ic_share_white_24px.svg"></a>
		</li>
	</ul>
</div>